<% if book_comment.errors.any? %>
  <h3><%= book_comment.errors.count %> error</h3>
    <% book_comment.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
<% end %>